body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    position: absolute;
    width: 100%;
}

.content {
    min-height: 100vh;
}

.bg {
    display: flex;
    /* background-image: url("/main-page/bg.jpg"); */
    background-color: #002747;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 100%;
}

.col {
    height: 100%;
}

/* navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e91d;
    display: inline-flex;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
    width: 100%;
}

.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 7px;
    margin-top: 5px;
    margin-right: 15px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

/* Card */
.card {
    height: 100%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}
.card-title {
    font-size: 60px;
}

/* Hourly card */
.hourly-temp {
    display: flex;
    justify-content: space-between;

}

.temp-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

.time {
    margin-right: 10px;
}

.temp {
    margin-right: 15px;
}

/* Title */
#location-title {
    margin: 15px;
    text-align: center;
    color: whitesmoke;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

.daily-background {
    height: 100%;
    background-color: aquamarine;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-bar {
    padding-bottom: 20px;
    text-align: center;
}

.weather-panels {
    /* background-color: blueviolet;
    min-height: 100vh;
    display: flex;
    aligns content in center along y-axis
    align-content: center;
    justify-content: space-around; */
    display: grid;
    justify-content: space-around;
    align-content: center;
    /* min-height: 100vh; */
    height: 700px;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 450px);
    /* grid-column-gap: 60px; */
    background-color: blueviolet;
    padding: 0px 40px;

}

.day-panel {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 2rem;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
}

.panel-content {
    text-align: center;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
    
.day {
    padding-top: 50px;
}

.date {
    padding-bottom: 80px;
    justify-content: center;
}