body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
    position: absolute;
}

.bg {
    /* background-image: url("/main-page/bg.jpg"); */
    background-color: #002747;  
    height: 100%;
}

/* Navigation bar */
.navbar-nav {
    flex-grow: 1;
}

.logo {
    margin-left: 10px;
}

.tab-item:hover {
    border: 1px solid #002747;
    border-radius: 5px;
}

.tab-item:active {
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background-color: #002747;
    color: whitesmoke;
}

.search-form {
    margin-right: 10px;
}

.search-btn {
    border: 1px solid #002747;
}

.search-btn:hover {
    background-color:  #002747;
    color: whitesmoke;
}


/* Card */
.card {
    height: 500px;  
}

.card-title {
    font-size: 60px;
}

.card-body {
   
}

/* Hourly card */
.hourly-temp {
    display: flex;
    justify-content: space-between;

}

.temp-time {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

.time {
    margin-right: 10px;
}

.temp {
    margin-right: 15px;
}

/* Title */
#location-title {
    margin: 50px;
    text-align: center;
    color: whitesmoke;
}

#search-bar {
    height: 100%;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a,
    .topnav input[type=text],
    .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}


/* Components of Daily/5-Day Forecast Page */
.daily-background {
    height: 100%;
    background-color: #002747;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.title-bar {
    padding: 30px 0px;
    text-align: center;
}

.title-text {
    color: white;
    font-weight: bold;
}

.weather-panels {
    /* background-color: blueviolet;
    min-height: 100vh;
    display: flex;
    aligns content in center along y-axis
    align-content: center;
    justify-content: space-around; */
    display: grid;
    justify-content: space-around;
    align-content: center;
    /* min-height: 100vh; */
    height: 700px;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(1, 450px);
    /* grid-column-gap: 60px; */
    background: linear-gradient(to bottom, #327cb8, rgb(229, 212, 249));;
    padding: 0px 40px;

}

.day-panel {
    background-color: rgba(255, 255, 255, .6);
    border-radius: 2rem;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 5px;
}

.panel-content {
    text-align: center;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    color: #002747;
}
    
.day {
    padding-top: 50px;
    font-weight: bold;
}

.date {
    /* padding-bottom: 80px; */
    justify-content: center;
    color: #245b88;
}

.weather-icon {
    margin: 10px 0px;
    padding: 10px
}

.high-temp {
    font-weight: bold;
}

.low-temp {
    color: #245b88;
}

#today-panel {
    background-color: rgba(255, 255, 255, .80);
    /* border-style: solid;
    border-width: 5px;
    border-color: #44dcd0; */
}