.weather-panels {
    display: grid;
    justify-content: space-around;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: minmax(200px, 1fr) repeat(5, auto);
    grid-template-rows: repeat(1, 350px);
    background-color: blueviolet;
}

.day-panel {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: space-around;
    align-content: center;
    margin: 5px 15px;
    padding: 10px 10px;
}

.panel-content {
    text-align: center;
    justify-content: space-around;
}

.weather-icon {
    width: 100px;
}